.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.card-body{
     display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.card-img {
    padding: 10px;
}

.card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}