.container{
    display: flex;
}
p{
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 40px;
}
h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.container2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}