


.navbar-brand {
  color: #6f5200;
  font-size: 2rem;
  letter-spacing: 1px;
}

.navbar-brand:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
}

.nav-link {
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f8b500;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);    
}


.nav-link.active {
  font-weight: 700;
  border-bottom: 2px solid #f8b500;
}


.navbar-toggler {
  border-color: #f8b500;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(248,181,0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
